[Unit]
Description=rtorrent


[Service]
Type=forking
KillMode=none
User=rtorrent
PermissionsStartOnly=true
# Pre-run
ExecStartPre=/bin/mkdir -p /var/run/rtorrent
ExecStartPre=/bin/chown -R rtorrent:rtorrent /var/run/rtorrent
# Run
ExecStart=/usr/bin/tmux new-session -c torrents -s rtorrent -n rTorrent -d rtorrent
ExecStop=/usr/bin/tmux send-keys -t rtorrent C-q && /usr/bin/tmux kill-session -t rtorrent
WorkingDirectory=/home/rtorrent/
Restart=on-failure

[Install]
WantedBy=multi-user.target

